.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 0;
    z-index: 1;
}

.menu-item {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s; /* Agrega una transición suave para el cambio de color */
}
.menu-item link{
    
}

.menu-item {
  color: gray; /* Cambia el color del ícono activo a rojo */
}
.menu-item.active {
  color: blue; /* Cambia el color del ícono activo a rojo */
}
